<configuration>
  <appSettings>              
    <add key="TestData" value="D:\ArtsTesting\WA.LNI.Apprentice.TestAutomation\Apprenticeship\TestAutomation\WA.LNI.Apprentice.UIAutomation\Resources\ExcelFiles\TestData.xlsx"/>
    <add key="TestDataSheet_Integration" value="LoginData_Integration"/>
    <add key="TestDataSheet_PreProd" value="LoginData_PreProd"/>
    <add key="TestEnvSheet" value="Environment" />
    <add key="TestApprenticeRegInfoSheet" value="ApprenticeRegInfo"/>
    <add key="TestTransferApprenticeInfoSheet" value="ApprenticeTransInfo"/>
    <add key="TestTrainingAgentSeachAndActivation" value="TrainingAgentInfo"/>
    <add key="Test_ActionItems_ReadyForStepUpdate" value="AI_ReadyStepUpdate"/>
    <add key="Test_ActionItems_ProbationNearingCompletion" value="AI_ProbationNearingCompletion"/>
    <add key="Test_QuickLinks_OJT_RIS_Hours" value="QL_OJT_RIS_HoursUpdate"/>
    <add key="Test_QuickLinks_Activate_Occupation_TA" value="QL_Activate_Occupation_TA"/>
    <add key="Test_QuickLinks_Update_Journey_Level_Wages" value="QL_Update_Journey_Level_Wages"/>
    <add key="Test_QuickLinks_Step_Update" value="QL_Step_Update"/>
    <add key="Test_SmokeTest_Apprentice_Information" value="TS_Apprentice_Information"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DB_TO_USE" connectionString="Data Source=LNIDdbTUMSQ07in\ENT,54599;Initial Catalog=ARTS; User ID=AW12235; Password=WD0$P9N8;"/>
    <add name="Dev_DB" connectionString= "Data Source=LNIDdbTUMSQ07dv.wads.res\ENT,50511;Initial Catalog=ARTS_3;Trusted_Connection=false;"/>
    <add name="Production_DB" connectionString= "Data Source=LNIXdbOLYSQ07.lnix.lni.wa.lcl\ENT,49376;Initial Catalog=ARTS;Trusted_Connection=false;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider"> 
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>